{% load lazysignup_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}EvergreenInterviews</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}evergreeninterviews/css/master.css?1" type="text/css" media="screen" title="no title" charset="utf-8">
        {% block extra_head %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% if user.is_authenticated and not user|is_lazy_user %}
            <div id="userinfo">
                {% if not user|is_lazy_user %}
                    Signed in as {{ user.username }}.
                    <a href="{% url accounts_logout %}">Logout</a>
                {% endif %}
            </div>
        {% endif %}

        <div id="header">
            <h1><a href="">EvergreenInterviews</a></h1>
        </div>
        <div class="clear"></div>

        {% block conversion_message %}
            {% if user|is_lazy_user and user.coupon_redemptions.count > 0 %}
                <div id="conversion-message">
                    <div>
                        Thank you for redeeming a coupon!
                        <a href="{% url lazysignup_convert %}">Click here to create an account</a>
                        to save your coupon.
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="clear"></div>

        <div id="footer">
            EvergreenInterviews &copy; 2011
        </div>
        <div class="clear"></div>
    </body>
</html>
