@import "960-sass/reset.sass";
@import "960-sass/text.sass";
@import "960-sass/960.sass";

$gutter: 10px;
$vertical-whitespace: 30px;

body {
  @extend .container-12;
  font-size: 20px;
}

#userinfo, #header, #footer {
  @extend .grid-12;
}

#userinfo {
  @extend .alpha;
  @extend .omega;
  border-bottom: 2px solid lightgrey;
  padding: $gutter / 2;
  text-align: right;
}

#header {
  @extend .alpha;
  @extend .omega;
  background-image: url("/static/evergreeninterviews/images/logo-940x126.png");
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 940px 126px;
  h1 a {
    display: block;
    height: 126px;
    text-indent: -9999px;
  }
  margin-bottom: $vertical-whitespace;
}

#conversion-message {
  @extend .prefix-2;
  @extend .alpha;
  @extend .grid-8;
  @extend .omega;
  @extend .suffix-2;
  div {
    border: {
      style: solid;
      width: 5px;
      color: lightgrey;
    }
    padding: $gutter;
  }
  margin-bottom: $vertical-whitespace;
}

#content {
  @extend .prefix-2;
  @extend .alpha;
  @extend .grid-8;
  @extend .omega;
  @extend .suffix-2;
  .coupons & {
    font-size: 18pt;
  }
}

#footer {
  @extend .alpha;
  @extend .omega;
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2px solid lightgrey;
  font-size: 10pt;
}

form {
  p {
    label {
      float: left;
      display: block;
      width: 10em;
      margin-left: -10em;
    }
    padding-left: 10em;
  }
  input[type="text"], input[type="password"] {
    font-size: 14pt;
    display: block;
  }
  input[type="submit"] {
    font-size: 14pt;
  }
}
